@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  line-height: 1;
  font-family: "微軟正黑體";
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "微軟正黑體";
}

button {
  outline: none;
  border: none;
  padding: 0;
  font-family: "微軟正黑體";
  cursor: pointer;
}

select, input {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "微軟正黑體";
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

main {
  display: block;
}

label {
  display: block;
}

a {
  text-decoration: none;
}

i {
  display: block;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

@font-face {
  font-family: myCustomFont;
  src: url("../font/MFinance HK Bold(盈富體).ttf") format("truetype");
}
body .bg {
  background: url("../img/bg.png") no-repeat top center;
}

.container .txtItem .title {
  background: url("../img/title.png") no-repeat center;
  background-size: contain;
}

body .gearGroup {
  background: url("../img/gear.png") no-repeat center;
  background-size: contain;
}

html {
  width: 100%;
  height: 100%;
  background: #d4d3d3;
}
html body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html body .container {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
html body .container .txtItem {
  position: absolute;
  top: 98px;
  right: -19px;
}
html body .container .txtItem .title {
  width: 392px;
  height: 172px;
}
html body .container .txtItem p {
  color: #001b47;
  font-size: 24px;
  text-align: end;
  margin-top: 33px;
  -webkit-animation: lag 1.5s linear 0s infinite;
          animation: lag 1.5s linear 0s infinite;
}
html body .container .logo {
  width: 494px;
  height: 186px;
  -webkit-animation: top 1s linear 0.2s 1;
          animation: top 1s linear 0.2s 1;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  position: absolute;
  top: 96px;
  left: 33px;
}
html body .bg {
  width: 100%;
  height: 100%;
  min-width: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
}
html body .gearGroup {
  width: 1949px;
  height: 950px;
  position: absolute;
  top: 435px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@-webkit-keyframes gear {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@keyframes gear {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}
@-webkit-keyframes lag {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lag {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes float1 {
  0% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  25% {
    -webkit-transform: translateY(0%) scaleY(0.9) scaleX(1.1);
            transform: translateY(0%) scaleY(0.9) scaleX(1.1);
  }
  40% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  65% {
    -webkit-transform: translateY(0%) scaleY(0.9) scaleX(1.1);
            transform: translateY(0%) scaleY(0.9) scaleX(1.1);
  }
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
@keyframes float1 {
  0% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  25% {
    -webkit-transform: translateY(0%) scaleY(0.9) scaleX(1.1);
            transform: translateY(0%) scaleY(0.9) scaleX(1.1);
  }
  40% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  65% {
    -webkit-transform: translateY(0%) scaleY(0.9) scaleX(1.1);
            transform: translateY(0%) scaleY(0.9) scaleX(1.1);
  }
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}