body .bg {
    background: url('../img/bg.png') no-repeat top center;
}
.container .txtItem .title{
    background: url('../img/title.png') no-repeat center;
    background-size: contain;
}
body .gearGroup {
    background: url('../img/gear.png')no-repeat center;
    background-size: contain;
}
