html {
    width: 100%;
    height: 100%;
    background: #d4d3d3;

    body {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .container {
            width: 1000px;
            height: 100%;
            margin: 0 auto;
            position: relative;

            .txtItem {
                position: absolute;
                top: 98px;
                right: -19px;

                .title {
                    width: 392px;
                    height: 172px;
                }

                p {
                    color: #001b47;
                    font-size: 24px;
                    text-align: end;
                    margin-top: 33px;
                    animation: lag 1.5s linear 0s infinite;
                }
            }

            // logo
            .logo {
                width: 494px;
                height: 186px;
                animation: top 1s linear 0.2s 1;
                animation-fill-mode: backwards;
                position: absolute;
                top: 96px;
                left: 33px;
            }

        }

        .bg {
            width: 100%;
            height: 100%;
            min-width: 1000px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -99;
        }
        .gearGroup {
            width: 1949px;
            height: 950px;
            position: absolute;
            top: 435px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

}


@keyframes gear {
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(-180deg);
    }
}


@keyframes lag {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes float1 {
    0% {
        transform: translateY(-10%);
    }
    25% {
        transform: translateY(0%) scaleY(0.9)scaleX(1.1);
    }
    40% {
        transform: translateY(-20%);
    }
    65% {
        transform: translateY(0%) scaleY(0.9) scaleX(1.1);
    }
    100% {
        transform: translateY(-10%);
    }
}
