html {
    width: 100%;
    height: 100%;
    background: #1d1d1d;

    body {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .container {
            width: 1000px;
            height: 100%;
            margin: 0 auto;
            position: relative;

            .txtItem {
                position: absolute;
                top: 98px;
                right: -19px;

                .title {
                    width: 392px;
                    height: 172px;
                    animation: lag 2s linear 0s 1;
                }

                p {
                    color: #001b47;
                    font-size: 24px;
                    text-align: end;
                    margin-top: 33px;
                    animation: lag 1.5s linear 1s infinite;
                }
            }

            // logo
            .logo {
                width: 494px;
                height: 186px;
                animation: lag 2s linear 0s 1;
                position: absolute;
                top: 96px;
                left: 33px;
            }

        }

        .bg {
            width: 100%;
            height: 100%;
            min-width: 1000px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -99;
        }
        .gearGroup {
            width: 1949px;
            height: 950px;
            position: absolute;
            top: 435px;
            left: 50%;
            transform: translateX(-50%);
            animation: gear 1.5s linear .5s 1;
            animation-fill-mode: both;

            .gear1 {
                width: 929px;
                height: 950px;
                position: absolute;
                top: 0;
                left: 0;
                animation: gear1 1.5s linear 0s infinite;
            }

            .gear2 {
                width: 737px;
                height: 528px;
                position: absolute;
                top: 152px;
                left: 634px;
                animation: gear2 1.5s linear .2s infinite;
            }

            .gear3 {
                width: 627px;
                height: 449px;
                position: absolute;
                top: 250px;
                left: 1322px;
                animation: gear3 1.5s linear .3s infinite;
            }
        }

    }

}

@keyframes gear {
    0%{
        transform: translateX(-50%) translateY(50%);
    }
    50%{
        transform: translateX(-50%) translateY(-1%);
    }
    75%{
        transform: translateX(-50%) translateY(1%);
    }
    100%{
        transform: translateX(-50%) translateY(0%);
    }
}

@keyframes gear1 {
    0%{
        transform: translateX(0%) translateY(0%);
    }
    50%{
        transform: translateX(-0.2%) translateY(0.5%);
    }
    80%{
        transform: translateX(0.5%) translateY(-0.5%);
    }
    100%{
        transform: translateX(0%) translateY(0%);
    }
}
@keyframes gear2 {
    0%{
        transform: translateX(0%) translateY(0%);
    }
    50%{
        transform: translateX(0.2%) translateY(-0.5%);
    }
    80%{
        transform: translateX(-0.1%) translateY(0.5%);
    }
    100%{
        transform: translateX(0%) translateY(0%);
    }
}
@keyframes gear3 {
    0%{
        transform: translateX(0%) translateY(0%);
    }
    50%{
        transform: translateX(-0.3%) translateY(0.3%);
    }
    80%{
        transform: translateX(0.5%) translateY(-0.1%);
    }
    100%{
        transform: translateX(0%) translateY(0%);
    }
}


@keyframes lag {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes float1 {
    0% {
        transform: translateY(-10%);
    }
    25% {
        transform: translateY(0%) scaleY(0.9)scaleX(1.1);
    }
    40% {
        transform: translateY(-20%);
    }
    65% {
        transform: translateY(0%) scaleY(0.9) scaleX(1.1);
    }
    100% {
        transform: translateY(-10%);
    }
}
